@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/AvenirLTStd-Book.otf') format('truetype');
}

.ourMembers {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 36px;
    padding-bottom: 20px;
    color: #033258;
}

.members {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(315px, 1fr));
    padding-left: 7.5%;
    padding-right: 7.5%;
    width: 100%;
}
