@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/AvenirLTStd-Book.otf') format('truetype');
}

.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    height: fit-content;
    flex: 1 0 0;
    margin: 10px;
}

.imageContainer {
    position: relative;
}

.imageContainer::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, 0);
    object-position: top center;
}

.name {
    font-family: 'Bebas Neue';
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #033258;
    text-align: center;
}

.year {
    font-family: 'Avenir';
    font-size: 18px;
    text-align: left;
    padding-bottom: 5px;
}

.major {
    font-family: 'Avenir';
    font-size: 18px;
    text-align: left;
    padding-bottom: 5px;
}

.socials {
    padding-top: 15px;
}

.socialLinks {
    text-decoration: none;
    list-style: none;
}

.links {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.socialIcon {
    width: 25px;
}
